<div class="form">
    <form action="" method="post">

        <div class="multiple-heading">
            <h2 id="allocate-heading">Allocate Funds</h2>
            <h3>${editedSavings}</h3>
        </div>
        <p id="pAllocate">Transfer your savings toward a goal.</p>


        <div class="dropdown">
            <select name="savingId" id="goal" required>
                <option value="" disabled selected>Goals</option>
            ${saving.map(s => `
                <option value="${s.id}">${s.title}</option>
                `).join("")}
            </select>
        </div>


        <div class="same-line">
            <div class="entry">
                <input type="number" name="progress" id="progress" min="0" step=".01" required placeholder=" ">
    
                <label class="label-name" for="progress">Amount ($)</label>
            </div>
            <div class="submit-container">
                <button type="submit" id="deposit-submit"><i class="fas fa-long-arrow-alt-right"></i></button>
            </div>
        </div>

    </form>

    <div id="return-btn-wrapper">
        <button id="return-btn"><i class="fas fa-long-arrow-alt-left"></i></button>
    </div>
    <script src="/scripts/return-btn.js"></script>

</div>