<div class="form">
    <form method="post">
        
        <h2>Start Savings Goal</h2>
    
        <div class="dropdown">
            <select name="category">
                <option disabled selected>Category</option>
                <option value="Home" ${saving ? `${saving.category == "Home" ? "selected" : ''}` : ""}>Home</option>
                <option value="Car" ${saving ? `${saving.category == "Car" ? "selected" : ''}` : ""}>Car</option>
                <option value="Education" ${saving ? `${saving.category == "Education" ? "selected" : ''}` : ""}>Education</option>
                <option value="Travel" ${saving ? `${saving.category == "Travel" ? "selected" : ''}` : ""}>Travel / Vacation</option>
                <option value="Item" ${saving ? `${saving.category == "Item" ? "selected" : ''}` : ""}>Item / Products</option>
                <option value="Other" ${saving ? `${saving.category == "Other" ? "selected" : ''}` : ""}>Other</option>
            </select>
        </div>
    
        <div class="entry">
            <input type="text" required placeholder=" " autocomplete="off" name="title" id="title" value="${saving ? `${saving.title}` : ""}" >
            <label class="label-name" for="title">Savings Title</label>
        </div>
        <div class="entry saving-amount">
            <input type="number" required placeholder=" " autocomplete="off" name="total" id="total" min="0" value=${saving ? `${saving.total}` : ""}>
            <label class="label-name" for="total">Amount ($)</label>
        </div>

        <div class="same-line">
            <div class="entry deadline">
            <input type="date" name="deadline" min="" id="deadline" value=${saving ? `${saving.deadline}` : ""}>
            <label for="deadline" id="goal-deadline">Deadline (Optional)</label>
        </div>
            <div class="submit-container">
                <button type="submit" id="deposit-submit"><i class="fas fa-long-arrow-alt-right"></i></button>
            </div>
        </div>

    </form>
</div>