<h2 id="page-title">All deposits</h2>

<ul id="transaction-list">
    ${editedDeposits.map(t => `
        <li id="list-li">
            <div class="transaction-item deposit-item">
                <div class="transaction-title">
                    <a href="/member/transaction/edit/${t.id}">${t.description}</a>
                    
                    <p class="transaction-category">Will add the date here</p>
                </div>

                <div class="transaction-amount">
                    <p>
                        ${t.amount}
                    </p>
                    <a href="/member/transaction/delete/${t.id}"><i class="fas fa-times"></i></a>
                </div>
            </div>

        </li>
        
        `).join("")}
</ul>