<div class="form">
    <h1>Create account</h1>

        <form action="" method="POST">
            <div class="same-line">
                <div class="entry name">
                    <input type="text" name="firstName" required autocomplete="off" placeholder=" ">
                    <label for="firstName" class="label-name"><span class="content-name">First Name</span></label>
                </div>
                <div class="entry name">
                    <input type="text" name="lastName" required autocomplete="off" placeholder=" ">
                    <label for="lastName" class="label-name"><span class="content-name">Last Name</span></label>
                </div>
            </div>
            <div class="entry email">
                <input type="email" name="email" required autocomplete="off" placeholder=" ">
                <label for="email" class="label-name"><span class="content-name">Email</span></label>
            </div>
            <div class="entry">
                <input type="text" name="username" required autocomplete="off" placeholder=" ">
                <label for="username" class="label-name"><span class="content-name">Username</span></label>
            </div>
            <div class="entry">
                <input type="password" name="password" required autocomplete="off" placeholder=" ">
                <label for="password" class="label-name"><span class="content-name">Password</span></label>
            </div>

            <span id="flashSpan"></span>

            <div class="submit-container">
                <h2>Sign up</h2>
                <button type="submit" id="submit"><i class="fas fa-long-arrow-alt-right"></i></button>
            </div>
            <p class="memberMsg">Already a member? <a href="/user/login">Login</a></p>
        </form>

</div>