${memberHeader}

${flashMsg}
<section id="dashboard">

    <section id="sidebar">
        <h3>Sidebar</h3>
        <a href="#">Link One</a>
        <a href="#">Link Two</a>
        <a href="#">Link Three</a>
        <a href="/user/logout">Logout</a>
    </section>

    <section id="main">
        <h1>Welcome Steven</h1>

        <!-- This will be the buttons -->
        <a href="/member/deposit/create">Deposit Funds</a>
        <a href="/member/transaction/create">Add Transaction</a>
        <a href="/member/saving/create">Start a Savings Goal</a>
        
        <!-- This is the total funds. -->
        <div class="fundsCard">
            <h2>Total funds</h2>
            <img src="/heroIcons/money-tree.png" alt="money tree icon">
            <p>$125,000.00</p>
        </div>

        <!-- This is the transactions card. -->
        <div class="transactionsCard">
            <h2>Transactions</h2>
            <img src="/heroIcons/credit-card.png" alt="credit card icon">
            <button><a href="/member/transaction/list">Transactions</a></button>
        </div>

        <!-- This is the savings card. -->
        <div class="savingsCard">
            <h2>Savings</h2>
            <img src="/heroIcons/piggy-bank.png" alt="piggy bank icon">
            <button><a href="/member/saving/list">Savings</a></button>
        </div>


    </section>
</section>
${footer}