${header}
<h1>Savings Form</h1>
<form method="post">
    <label for="category">Category</label>

    <select name="category" id="category">
        <option disabled selected>Select One</option>
        <option value="home">Buy a Home</option>
        <option value="car">Buy a Car</option>
        <option value="education">Education</option>
        <option value="travel">Travel / Vacation</option>
        <option value="item">Item / Products</option>
        <option value="other">Other</option>
    </select>

    <label for="title">Savings Name</label>
    <input type="text" name="title" id="title" required>

    <label for="deadline">Goal Deadline (Optional)</label>
    <input type="date" name="deadline" id="deadline">

    <label for="total">Goal Amount (Optional)</label>
    <input type="number" name="total" id="total" min="0">

    <input type="submit" value="Create Goal">
</form>
<a href="/member/home">Return</a>
${footer}