${header}
<h1>Savings Form</h1>
<form method="post">
    <label for="category">Category</label>

    <select name="category" id="category">
        <option disabled selected>Select One</option>
        <option value="home" ${saving ? `${saving.category == "home" ? "selected" : ''}` : ""}>Buy a Home</option>
        <option value="car" ${saving ? `${saving.category == "car" ? "selected" : ''}` : ""}>Buy a Car</option>
        <option value="education" ${saving ? `${saving.category == "education" ? "selected" : ''}` : ""}>Education</option>
        <option value="travel" ${saving ? `${saving.category == "travel" ? "selected" : ''}` : ""}>Travel / Vacation</option>
        <option value="item" ${saving ? `${saving.category == "item" ? "selected" : ''}` : ""}>Item / Products</option>
        <option value="other" ${saving ? `${saving.category == "other" ? "selected" : ''}` : ""}>Other</option>
    </select>

    <label for="title">Savings Name</label>
    <input type="text" name="title" id="title" value="${saving ? `${saving.title}` : ""}" required>

    <label for="deadline">Goal Deadline (Optional)</label>
    <input type="date" name="deadline" id="deadline" value="${saving ? `${saving.deadline}` : ""}">

    <label for="total">Goal Amount (Optional)</label>
    <input type="number" name="total" id="total" min="0" value="${saving ? `${saving.total}` : ""}">

    <input type="submit" value="Submit">
</form>
<a href="/member/home">Return</a>
${footer}