${header}
<form method="POST">
    <label for="category">Category</label>
    <select name="category" id="category">
        <option disabled selected>Select one</option>
        <option value="bills">Bills</option>
        <option value="auto">Auto & Transport</option>
        <option value="health">Health & Medical</option>
        <option value="food">Food & Dining</option>
        <option value="shopping">Shopping</option>
        <option value="other">Other</option>
    </select>
    
    <label for="amount" title="Enter the transaction amount.">Amount ($)</label>
    <input type="number" min="0" id="amount" required>

    <label for="description">Description (Optional)</label>
    <textarea name="description" id="description" cols="30" rows="10"></textarea>

    <input type="submit" value="Submit">
</form>
${footer}