        <!-- This is the total funds. -->
        <div class="fundsCard">
            <h2>Total funds</h2>
            <img src="/heroIcons/money-tree.png" alt="money tree icon">
            <p>${totalFunds}</p>
        </div>

        <!-- This is the transactions card. -->
        <div class="transactionsCard">
            <h2>Transactions</h2>
            <img src="/heroIcons/credit-card.png" alt="credit card icon">
            <button><a href="/member/transaction/list">Transactions</a></button>
        </div>

        <!-- This is the savings card. -->
        <div class="savingsCard">
            <h2>Savings</h2>
            <img src="/heroIcons/piggy-bank.png" alt="piggy bank icon">
            <button><a href="/member/saving/list">Savings</a></button>
            <p>${totalSavings}</p>
        </div>