        <!-- This is the total funds. -->
        <div class="fundsCard card">
            <div class="card-icon">
                <img src="/heroIcons/money-tree.png" alt="money tree icon">
            </div>


            <div class="card-content">
                <h3>Total funds</h3>
                <p>Account balance</p>
            </div>

            <div class="card-other-content">
                <p id="total-funds">${totalFunds}</p>
                <a href="/member/deposit/list"><i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>

        <!-- This is the transactions card. -->
        <div class="transactionsCard card">
            <div class="card-icon">
                <img src="/heroIcons/credit-card.png" alt="credit card icon">
            </div>


            <div class="card-content">
                <h3>Transactions</h3>
                <p> ${MRT ? `${MRT.description} - ${MRTAmt}` : `${NoMRT}`}</p>
            </div>

            <div class="card-other-content">
                <a href="/member/transaction/list"><i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>

        <!-- This is the savings card. -->
        <div class="savingsCard card">
            <div class="card-icon">
                <img src="/heroIcons/piggy-bank.png" alt="piggy bank icon">
            </div>


            <div class="card-content">
                <h3>Savings</h3>
                <p> ${MRSG ? `${MRSG.title} - ${MRSGProg}/${MRSGTotal}` : `${NoMRSG}`}
                </p>
            </div>


            <div class="card-other-content">
                <p>${totalSavings}</p>
                <a href="/member/saving/list"><i class="fas fa-angle-double-right"></i></a>
            </div>
            
        </div>