<section id="dashboard">
    <section id="sidebar">
        <div id="profile-pic"><img src="/images/steven-profile.jpeg" alt=""></div>

        <div id="name-card">
            <h4>${firstName} ${lastName}</h4>
        </div>

        <nav>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="#">Reminders</a></li>
            </ul>
        </nav>

        <a id="logout" href="/user/logout">Logout</a>


    </section>

    <section id="main">
        <h1>Welcome ${firstName}</h1>


        <ul>
            <li><a href="/member/home">Home</a></li>
            <li><a href="/member/deposit/create">Deposit Funds</a></li>
            <li><a href="/member/transaction/create">Add Transaction</a></li>
            <li><a href="/member/saving/create">Start a Savings Goal</a></li>
        </ul>


        <!-- would add changable stuff here -->

        <section id="focus">