<nav id="desktop-responsive-nav">
    <div id="hamburger">
        <!-- <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div> -->
        <div><i class="fas fa-bars"></i></div>
    </div>

    <ul id="desktop-responsive-ul">
        <li><a href="/member/home">Dashboard</a></li>
        <li><a href="/member/statistics">Statistics</a></li>
        <li><a href="#">Settings</a></li>
        <li><a id="logout" href="/user/logout">Logout</a></li>
    </ul>
</nav>

<section id="dashboard">
    <section id="sidebar">
        <div id="profile-pic"><img src="/images/steven.jpg" alt=""></div>

        <div id="name-card">
            <h4>${firstName} ${lastName}</h4>
        </div>

        <nav>
            <ul>
                <li><a href="/member/home">Dashboard</a></li>
                <li><a href="/member/statistics">Statistics</a></li>
                <li><a href="#">Settings</a></li>
                <li><a id="logout" href="/user/logout">Logout</a></li>
            </ul>
        </nav>
    </section>




    <section id="main">
        <ul id="nav-list">
            <li><a href="/member/home">Home</a></li>
            <li><a href="/member/deposit/create">Deposit Funds</a></li>
            <li><a href="/member/transaction/create">Add Transaction</a></li>
            <li><a href="/member/saving/create">Start Savings Goal</a></li>
        </ul>

        <!-- <span id="flashSpan"></span> -->
        <section id="focus">