#contentContainer {
    display: flex;
    align-items: center;
    padding: 8rem 4rem;

    #landing {
        width: 50rem;
    }

    #heroImg {
        img {
            width: 50rem;
        }
    }

    button {
        margin-top: 4rem;
        padding: 1rem 3rem;
        border-radius: 1.5rem;
        font-size: 1.8rem;
        // border: solid 1px rgb(54, 80, 126);
        border: none;
        // font-family: "Noto Sans JP", sans-serif;
        background: #765992;
        // background: rgb(44, 72, 135);
        color: rgb(250, 250, 250);
        cursor: pointer;
        outline: none;
        font-weight: bold;

        &:focus {
            border: none;
        }

        &:hover {
            background: #bb8dbb;
            // background: rgb(110, 159, 232);
        }
    }
}

#signupForm {
    // height: 40rem;
    width: 30rem;
    margin: auto;

    form {
        display: flex;
        flex-direction: column;
        width: 25rem;

        input {
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(30px);
            border: solid 2px transparent;
            border-radius: 2.5rem;
            margin: 0.5rem;
            padding: 1rem;
        }
    }
}

.error {
    text-align: center;
}
