#contentContainer {
    display: flex;
    align-items: center;
    padding: 8rem 4rem;

    #landing {
        width: 50rem;
    }

    #heroImg {
        img {
            width: 50rem;
        }
    }

    button {
        margin-top: 4rem;
        padding: 1rem 3rem;
        border-radius: 1rem;
        font-size: 1.8rem;
        // border: solid 1px rgb(54, 80, 126);
        border: none;
        // font-family: "Noto Sans JP", sans-serif;
        background: rgb(44, 72, 135);
        color: rgb(250, 250, 250);
        cursor: pointer;
        outline: none;
        font-weight: bold;

        &:focus {
            border: none;
        }

        &:hover {
            background: rgb(110, 159, 232);
        }
    }
}

#signupForm {
    position: absolute;
    height: 40rem;
    width: 30rem;
    display: flex;

    //glass
    background: rgba(70, 143, 206, 0.1);
    backdrop-filter: blur(40px);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
    border-radius: 2rem;

    form {
        display: flex;
        flex-direction: column;
        width: 25rem;
    }
}
