nav {
    background: rgba(245, 245, 245, 0.4);

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    padding: 0 2rem;
    font-size: 1.8rem;
    font-weight: bold;

    #logo {
        img {
            width: 6rem;
        }
    }

    ul {
        list-style-type: none;
        display: flex;

        li {
            margin: 0 1.5rem;

            a {
                text-decoration: none;
                color: rgb(55, 55, 55);
            }

            &:hover {
                a {
                    color: rgb(250, 250, 250);
                }
            }
        }
    }
}
