#window {
    margin: 1rem 0;
    overflow: hidden;

    // glass
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    // border: solid 1px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
    border-radius: 1.5rem;

    #heroImg {
        img {
            width: 55rem;
        }
    }
}
