html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  color: #2d2d2d;
}

h3 {
  font-size: 2rem;
  color: #2d2d2d;
}

p {
  font-size: 1.5rem;
  color: #373737;
}

.hidden {
  display: none;
}

#window {
  margin: 1rem 0;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
          box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
  border-radius: 2rem;
}

nav {
  background: rgba(245, 245, 245, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 7rem;
  padding: 0 2rem;
  font-size: 1.8rem;
  font-weight: bold;
}

nav #logo img {
  width: 6rem;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  margin: 0 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #373737;
}

nav ul li:hover a {
  color: #fafafa;
}

#contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8rem 4rem;
}

#contentContainer #landing {
  width: 50rem;
}

#contentContainer #heroImg img {
  width: 50rem;
}

#contentContainer button {
  margin-top: 4rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  border: none;
  background: #2c4887;
  color: #fafafa;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

#contentContainer button:focus {
  border: none;
}

#contentContainer button:hover {
  background: #6e9fe8;
}

#signupForm {
  position: absolute;
  height: 40rem;
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(70, 143, 206, 0.1);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
          box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
  border-radius: 2rem;
}

#signupForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25rem;
}
/*# sourceMappingURL=homepage.css.map */