<div class="form"> 
    <h2>${h2}</h2>
    <form action="" method="post">
        <div class="same-line">
            <div class="dropdown">
                <select required name="date" id="date">
                    <option value="" disabled selected>Choose a Date</option>
                    ${transactionDates.map(td => `
                        <option value="${td}">${td}</option>
                        `)}
                </select>
            </div>
            <div class="submit-container">
                <button type="submit" id="deposit-submit"><i class="fas fa-long-arrow-alt-right"></i></button>
            </div>
        </div>
    </form>
</div>

<div style="width: 80%; margin-top: 1.5rem; margin: auto;">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script src="/scripts/transactionChart.js"></script>