<div class="form">
    <h2 id="delete-confirmation-title">Are you sure?</h2>
    <p id="pConfirmation">You are attempting to delete <strong>${deleteWhat}</strong><br> If you wish to proceed please type out <strong>Delete</strong></p>
    
    
    <form method="POST">

        <div class="same-line">
            <div class="entry">
                <input required type="text" name="deletion" autocomplete="off" id="deletion" placeholder=" ">
                <label class="label-name" for="deletion">Confirmation</label>
            </div>
    
            <div class="submit-container">
                <button type="submit" id="deposit-submit"><i class="fas fa-long-arrow-alt-right"></i></button>
            </div>
        </div>
    </form>

    <div id="return-btn-wrapper">
        <button id="return-btn"><i class="fas fa-long-arrow-alt-left"></i></button>
    </div>
    <script src="/scripts/return-btn.js"></script>

</div>