<div class="form">
    <h2>Deposit Funds</h2>
    
    <form method="post">
            <div class="entry deposit-amount">
                <input type="number" name="amount" id="amount" step=".01" placeholder=" " required min="0">
                <label class="label-name" for="amount">Amount ($)</label>
            </div>

        <div class="same-line">
            <div class="entry deposit-description">
                <input type="text" name="description" autocomplete="off" id="description" placeholder=" " required>
                <label class="label-name" for="description">Description</label>
            </div>
            <div class="submit-container">
                <button type="submit" id="deposit-submit"><i class="fas fa-long-arrow-alt-right"></i></button>
            </div>
        </div>
    </form>

    <div id="return-btn-wrapper">
        <button id="return-btn"><i class="fas fa-long-arrow-alt-left"></i></button>
    </div>
    <script src="/scripts/return-btn.js"></script>

</div>