<h1>All transactions</h1>

<div style="width: 500px;">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>

<ul>
    ${editedTransactions.map(t => `
        <li><a href="/member/transaction/edit/${t.id}">${t.category} | ${t.description} | ${t.amount}</a></li>
        <a href="/member/transaction/delete/${t.id}">Delete</a>
        `).join("")}
</ul>
<a href="/member/home">Return</a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script src="/scripts/transactionChart.js"></script>