<div class="form"> 
    <h2 id="page-title">${h2}</h2>
    <form action="" method="post">
        <div class="same-line" id="same-line">
            <div class="dropdown">
                <select required name="date" id="date">
                    <option value="" disabled selected>Choose a Date</option>
                    ${transactionDates.map(td =>`
                        <option value="${td}">${td}</option>
                        `)}
                </select>
            </div>
            <div class="submit-container" >
                <button type="submit" id="deposit-submit"><i class="fas fa-long-arrow-alt-right"></i></button>
            </div>
        </div>
    </form>
</div>

<ul id="transaction-list">
    ${editedTransactions.map(t => `
        <li id=list-li>
            <div class="transaction-item">
                <div class="transaction-title">
                    <a href="/member/transaction/edit/${t.id}">${t.description}</a>
                    <p class="transaction-category">${t.category}</p>
                </div>
                <div class="transaction-amount">
                    <p>
                        ${t.amount}
                    </p>

                    <a href="/member/transaction/delete/${t.id}"><i class="fas fa-times"></i></a>
                </div>

            </div>
        </li>
        
        `).join("")}
</ul>
