<div class="form">
    <h2>Add Transaction</h2>

    <form method="POST">
        <div class="dropdown">
            <select required name="category" id="category">
                <option value="" disabled selected>Category</option>
                <option value="Bills" ${transaction ? `${transaction.category == "Bills" ? "selected" : ''}` : ""}>Bills</option>
                <option value="Auto" ${transaction ? `${transaction.category == "Auto" ? "selected" : ''}` : ""}>Auto & Transport</option>
                <option value="Health" ${transaction ? `${transaction.category == "Health" ? "selected" : ''}` : ""}>Health & Medical</option>
                <option value="Food" ${transaction ? `${transaction.category == "Food" ? "selected" : ''}` : ""}>Food & Dining</option>
                <option value="Shopping" ${transaction ? `${transaction.category == "Shopping" ? "selected" : ''}` : ""}>Shopping</option>
                <option value="Other" ${transaction ? `${transaction.category == "Other" ? "selected" : ''}` : ""}>Other</option>
                <option disabled>Deposit Funds</option>
                <option value="Deposit" ${transaction ? `${transaction.category == "Deposit" ? "selected" : ''}` : ""}>Deposit</option>
                <option disabled>Transfer to Savings</option>
                <option value="Savings" ${transaction ? `${transaction.category == "Savings" ? "selected" : ''}` : ""}>Savings</option>
            </select>
        </div>
    
        <div class="entry">
            <input type="number" min="0" id="amount" name="amount" step=".01" required placeholder=" " autocomplete="off" value=${transaction ? `${transaction.amount}` : ''}>
            <label for="amount" title="Enter the transaction amount." class="label-name">Amount ($)</label>
        </div>
    
        <div class="same-line">
            <div class="entry deposit-description">
                <input type="text" required name="description" id="description" placeholder=" " autocomplete="off" value=${transaction ? `${transaction.description}` : ''} >
                <label class="label-name" for="description">Description</label>
            </div>
            <div class="submit-container">
                    <button type="submit" id="deposit-submit"><i class="fas fa-long-arrow-alt-right"></i></button>
            </div>
        </div>
    </form>
</div>