<div class="form">
    <h2>Add Transaction</h2>

    <form method="POST">
        <div class="dropdown">
            <select required name="category" id="category">
                <option value="" disabled selected>Category</option>
                <option value="bills" ${transaction ? `${transaction.category == "bills" ? "selected" : ''}` : ""}>Bills</option>
                <option value="auto" ${transaction ? `${transaction.category == "auto" ? "selected" : ''}` : ""}>Auto & Transport</option>
                <option value="health" ${transaction ? `${transaction.category == "health" ? "selected" : ''}` : ""}>Health & Medical</option>
                <option value="food" ${transaction ? `${transaction.category == "food" ? "selected" : ''}` : ""}>Food & Dining</option>
                <option value="shopping" ${transaction ? `${transaction.category == "shopping" ? "selected" : ''}` : ""}>Shopping</option>
                <option value="other" ${transaction ? `${transaction.category == "other" ? "selected" : ''}` : ""}>Other</option>
                <option disabled>Deposit Funds</option>
                <option value="deposit" ${transaction ? `${transaction.category == "deposit" ? "selected" : ''}` : ""}>Deposit</option>
                <option disabled>Transfer to Savings</option>
                <option value="savings" ${transaction ? `${transaction.category == "savings" ? "selected" : ''}` : ""}>Savings</option>
            </select>
        </div>
    
        <div class="entry">
            <input type="number" min="0" id="amount" name="amount" step=".01" required placeholder=" " autocomplete="off" value=${transaction ? `${transaction.amount}` : ''}>
            <label for="amount" title="Enter the transaction amount." class="label-name">Amount ($)</label>
        </div>
    
        <div class="same-line">
            <div class="entry deposit-description">
                <input type="text" required name="description" id="description" placeholder=" " autocomplete="off" value=${transaction ? `${transaction.description}` : ''} >
                <label class="label-name" for="description">Description</label>
            </div>
            <div class="submit-container">
                    <button type="submit" id="deposit-submit"><i class="fas fa-long-arrow-alt-right"></i></button>
            </div>
        </div>
    </form>
</div>