${header}
<section id="window">
    <nav>
        <p>T|WIN</p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </nav>

    <div id="landing">
        <h1>This is our slogan. Keep track of your money!</h1>
        <p>Small detail about something that may have more to do with the app.</p>
        <button>Sign Up</button>
    </div>

    <div id="heroImg">
        <img src="/images/heroImg.png" alt="" style="width: 1000px;">
    </div>

    <!-- The forms will hidden at first but after pressing their buttons, they will appear. -->

    <div id="signupForm">
        <h2>Sign Up</h2>
        <form action="user/signup" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
            <label for="firstname">First Name:</label>
            <input type="text" name="firstName" id="firstname" required>
            <label for="lastname">Last Name:</label>
            <input type="text" name="lastName" id="lastname" required>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <input type="submit" value="Sign Up">
        </form>
        ${flashMsg}
    </div>

    <div id="loginForm">
        <h2>Login</h2>
        <form action="user/login" method="post">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <input type="submit" value="Login">
        </form>
        ${flashMsg}
    </div>
</section>
${footer}