${header}
<section id="window">
    <nav>
        <p>Logo</p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </nav>

    <div id="landing">
        <h1>
            This is our slogan. Keep track of your money!
        </h1>
        <button>Sign Up</button>
    </div>

    <div id="heroImg">
        <img src="/images/IMG_0139.png" alt="" style="width: 1000px;">
    </div>




</section>
${footer}