${homeHeader}
<section id="window">
    <nav>
        <div id="logo"><img src="/images/logo.png" alt=""></div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </nav>

    <section id="contentContainer">
        <div id="landing">
            <h1>Best way to save money?</h1>
            <h2>Don't spend it.</h2>
            <p>Plan for the future and save for your goals with our personal finance tracking application.</p>
            <button id="signupBtn">Sign Up</button>
        </div>
    
        <div id="heroImg">
            <img src="/images/heroImg.png" alt="">
        </div>
    </section>
</section>
<!-- The forms will hidden at first but after pressing their buttons, they will appear. -->
<div id="signupForm" class="hidden">
    <h2>Sign Up</h2>
    <form action="user/signup" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="firstname">First Name:</label>
        <input type="text" name="firstName" id="firstname" required>
        <label for="lastname">Last Name:</label>
        <input type="text" name="lastName" id="lastname" required>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Sign Up">
    </form>
    ${flashMsg}
</div>

<div id="loginForm" class="hidden">
    <h2>Login</h2>
    <form action="user/login" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Login">
    </form>
    ${flashMsg}
</div>
<script src="/scripts/homepageButton.js"></script>
${footer}