#focus {
    .card {
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(20px);
        margin: 1.5rem 0;
        border-radius: 1.2rem;
        padding: 1.5rem 2rem;
        display: flex;
        align-items: center;

        .card-icon {
            width: 5rem;
            margin-right: 2rem;

            img {
                width: 100%;
            }
        }

        .card-content {
            width: 35rem;
            display: flex;
            flex-direction: column;
        }

        .card-other-content {
            display: flex;
            align-items: center;
            position: relative;
            width: 13rem;

            a {
                position: absolute;
                right: -0.3rem;
                padding: 0.8rem 1.1rem;
                border-radius: 50%;
                font-size: 1.5rem;
                border: none;
                outline: none;
                background: #765992;
                cursor: pointer;
                font-weight: bold;
                color: rgb(250, 250, 250);

                &:hover {
                    background: #bb8dbb;
                }
            }
        }
    }

    .fundsCard,
    .savingsCard {
        .card-other-content {
            p {
                font-weight: bold;
            }
        }
    }
}
