.form {
    h2 {
        margin-left: 0.5rem;
        margin-bottom: 2.5rem;
    }

    #allocate-heading {
        margin-bottom: 0;
    }

    #pAllocate {
        margin-left: 0.5rem;
        margin-bottom: 2.5rem;
    }

    form {
        .dropdown {
            position: relative;
            select {
                width: 20rem;
                height: 4rem;
                background: rgba(210, 210, 210, 0.1);
                backdrop-filter: blur(30px);
                border-radius: 2rem;
                border: none;
                outline: none;
                padding-left: 2rem;
                font-size: 1.5rem;
                color: rgb(55, 55, 55);
            }
        }

        .entry {
            position: relative;
            margin: 1rem 0;
            font-size: 1.5rem;
            color: rgb(55, 55, 55);

            input {
                height: 4rem;
                width: 20rem;
                padding: 2rem;
                font-size: 1.5rem;

                //glass
                background: rgba(210, 210, 210, 0.1);
                backdrop-filter: blur(30px);
                border-radius: 2rem;
                outline: none;
                border: none;

                &:focus {
                    background: rgba(140, 140, 140, 0.1);
                }
            }

            label {
                position: absolute;
                bottom: 1rem;
                left: 2rem;
                pointer-events: none;
                transition: all 0.3s ease;
            }
        }

        .same-line {
            display: flex;
            align-items: center;
        }

        .deposit-description {
            margin: 0;

            input {
                width: 25rem;
            }
        }

        .saving-amount {
            margin: 0;
        }

        #deadline {
            margin-top: 0.5rem;
        }

        #deposit-submit {
            margin-left: 1rem;
            padding: 0.5rem 0.8rem;
            border-radius: 100%;
            border: none;
            background: #765992;
            color: rgb(250, 250, 250);
            cursor: pointer;
            outline: none;

            i {
                font-size: 3rem;
                color: #f9e9df;
                // color: rgb(240, 240, 240);
            }

            &:focus {
                border: none;
            }

            &:hover {
                background: #bb8dbb;
                // background: rgb(110, 159, 232);
            }
        }

        #goal-deadline {
            position: absolute;
            top: -5px;
            font-size: 1.3rem;
            font-weight: bold;
            letter-spacing: 0.5px;
            color: #f0e3d4;
        }
    }
}

.form input:focus + .label-name,
.form input:valid + .label-name,
.form input:not(:placeholder-shown):not(:focus):invalid + .label-name {
    transform: translateY(-150%);
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #f0e3d4;
}
