// will add info

#main {
    padding: 2.5rem 2rem;
    min-width: 40rem;
    // may possbily want to remove this but will hide the sidebar instead.

    #nav-list {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin: 3rem 0;

        li {
            list-style-type: none;
            // width: 12rem;

            a {
                text-decoration: none;
                color: rgb(60, 60, 60);
                font-weight: bold;
                background: rgba(245, 245, 245, 0.8);
                padding: 1rem 1.5rem;
                border-radius: 1rem;
                font-size: 1.5rem;
                margin: 0 1rem;

                &:hover {
                    background: rgba(225, 225, 225, 0.8);
                }
            }
        }
    }
}
