#sidebar {
    display: flex;
    flex-direction: column;
    min-width: 25rem;
    background: rgba(245, 245, 245, 0.8);
    padding: 2.5rem 2rem;
    align-items: center;
    border-radius: 2.5rem 0 0 2.5rem;
    height: inherit;
    position: relative;

    #profile-pic {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        border: 1px solid rgb(162, 157, 157);
        box-shadow: 3px 3.5px 3.5px rgba(46, 54, 68, 0.3);
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    #name-card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 4rem;
        margin-top: 2.5rem;
        background: #dac1da;
        // background: #cf9fcf;
        border-radius: 1.2rem;

        // h4 {
        //     font-size: 1.8rem;
        // }
    }

    nav {
        margin-top: 2.5rem;
        width: 80%;
        // height: 100%;
        // display: flex;
        // flex-direction: column;
        // position: relative;
        // height: 80%;

        ul {
            list-style: none;
            li {
                font-size: 1.4rem;
                margin: 0.5rem 0;

                a {
                    color: #a29f9f;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }

    // #logout {
    //     display: inline-block;
    //     // width: 80%;
    //     font-size: 1.4rem;
    //     color: #a29f9f;
    //     text-decoration: none;
    //     font-weight: bold;
    //     // justify-self: flex-end;
    //     position: absolute;
    //     left: 4rem;
    //     bottom: 2.5rem;
    // }
}
