#page-title {
    margin-bottom: 2rem;
}

#allocate-button {
    display: inline-block;
    // width: 100%;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    border-radius: 1.2rem;
    font-size: 1.5rem;
    // border: none;
    background: #765992;
    color: rgb(250, 250, 250);
    cursor: pointer;
    // outline: none;
    // font-weight: bold;
    text-decoration: none;

    &:focus {
        border: none;
    }

    &:hover {
        background: #bb8dbb;
    }
}

#transaction-list {
    // min-height: 20rem;
    max-height: 35rem;

    display: flex;
    flex-direction: column;
    overflow: scroll;
    // align-items: center;
    list-style: none;
    // margin: 0 6rem;

    &::-webkit-scrollbar {
        display: none;
    }

    li {
        border-radius: 1rem;
        padding: 0.5rem 2rem;
        margin: 0.5rem 0;
    }

    .transaction-item {
        width: 100%;
        display: flex;
        margin: 0.5rem 0;
        justify-content: space-between;
        // align-items: baseline;

        .saving-icon {
            width: 5rem;
            height: 100%;

            img {
                width: 100%;
            }
        }

        .transaction-title {
            a {
                font-size: 1.5rem;
                text-decoration: none;
                font-weight: bold;
                color: rgb(45, 45, 45);

                &:hover {
                    color: #a778a7;
                }
            }
        }

        .transaction-category {
            font-style: italic;
            font-size: 1.2rem;
        }

        .transaction-amount {
            display: flex;
            align-items: center;

            p {
                margin-right: 1.5rem;
            }

            a {
                font-size: 2rem;
                color: rgb(90, 87, 87);

                &:hover {
                    color: rgb(221, 117, 117);
                }
            }

            #goal-edit {
                margin-right: 1.5rem;
                font-size: 1.7rem;

                &:hover {
                    color: #8255ac;
                }
            }
        }
    }

    .deposit-item,
    .saving-item {
        align-items: center;
    }

    .saving-item {
        display: flex;
        position: relative;
        // align-items: center;
        justify-content: unset;
        width: 100%;

        .saving-icon {
            margin-right: 2rem;
            // padding: 0.5rem;
            // background: rgba(51, 52, 51, 0.2);
        }

        .transaction-amount {
            position: absolute;
            right: 0;
        }

        .transaction-title {
            .progress {
                background: rgba(146, 141, 141, 0.3);
                // background-color: #cecece;
                height: 2rem;
                width: 43rem;
                border-radius: 2rem;
                margin: 0.5rem 0;
                position: relative;

                #goal-total {
                    position: absolute;
                    top: 0.3rem;
                    right: 1rem;
                    font-size: 1.2rem;
                    z-index: 10;
                }

                .progress-done {
                    display: flex;
                    opacity: 0;
                    width: 0;
                    height: 100%;
                    border-radius: 2rem;
                    // background: cornflowerblue;
                    background: rgb(255, 191, 106);
                    background: linear-gradient(to left, #f07da3, #fa9677);
                    align-items: center;
                    justify-content: center;
                    padding: 0 1rem;
                    transition: 1s ease;
                    // box-shadow: 0 3px 3px -5px #2e2e2e, 0 2px 5px #2e2e2e;

                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

#list-li:nth-child(odd),
#saving-li {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    transition: 0.5s;

    &:hover {
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(20px);
        transition: 0.5s;
    }
}

#list-li:nth-child(even) {
    background: rgba(210, 210, 210, 0.2);
    backdrop-filter: blur(20px);
    transition: 0.5s;

    &:hover {
        background: rgba(180, 176, 176, 0.5);
        backdrop-filter: blur(20px);
        transition: 0.5s;
    }
}
