html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

h1 {
  font-size: 4rem;
  color: #232323;
}

h2 {
  font-size: 3rem;
  color: #2d2d2d;
}

h3 {
  font-size: 2rem;
  color: #2d2d2d;
}

h4 {
  font-size: 1.8rem;
  color: #2d2d2d;
}

p {
  font-size: 1.5rem;
  color: #373737;
}

#dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: solid 1px transparent;
  -webkit-box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
          box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
  border-radius: 2.5rem;
}

#sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 25rem;
  background: rgba(245, 245, 245, 0.8);
  padding: 2.5rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2.5rem 0 0 2.5rem;
  height: inherit;
  position: relative;
}

#sidebar #profile-pic {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 0.5px solid #a29d9d;
  -webkit-box-shadow: 3px 3.5px 3.5px rgba(46, 54, 68, 0.3);
          box-shadow: 3px 3.5px 3.5px rgba(46, 54, 68, 0.3);
  overflow: hidden;
}

#sidebar #profile-pic img {
  width: 100%;
}

#sidebar #name-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 4rem;
  margin-top: 2.5rem;
  background: #dfc9df;
  border-radius: 1.2rem;
}

#sidebar #name-card h4 {
  color: #373737;
}

#sidebar nav {
  margin-top: 2.5rem;
  width: 80%;
}

#sidebar nav ul {
  list-style: none;
}

#sidebar nav ul li {
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

#sidebar nav ul li a {
  color: #a29f9f;
  text-decoration: none;
  font-weight: bold;
}

#sidebar nav ul li a:hover {
  color: #7a7575;
}

#main {
  padding: 2.5rem 2rem;
  min-width: 40rem;
}

#main #nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 3rem 0;
}

#main #nav-list li {
  list-style-type: none;
}

#main #nav-list li a {
  text-decoration: none;
  color: #3c3c3c;
  font-weight: bold;
  background: rgba(245, 245, 245, 0.8);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin: 0 1rem;
}

#main #nav-list li a:hover {
  background: rgba(225, 225, 225, 0.8);
}

#focus .card {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  margin: 1.5rem 0;
  border-radius: 1.2rem;
  padding: 1.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#focus .card .card-icon {
  width: 5rem;
  margin-right: 2rem;
}

#focus .card .card-icon img {
  width: 100%;
}

#focus .card .card-content {
  width: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#focus .card .card-other-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 13rem;
}

#focus .card .card-other-content a {
  position: absolute;
  right: -0.3rem;
  padding: 0.8rem 1.1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background: #765992;
  cursor: pointer;
  font-weight: bold;
  color: #fafafa;
}

#focus .card .card-other-content a:hover {
  background: #bb8dbb;
}

#focus .fundsCard .card-other-content p,
#focus .savingsCard .card-other-content p {
  font-weight: bold;
}

.form h2 {
  margin-left: 0.5rem;
  margin-bottom: 2.5rem;
}

.form .multiple-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.form #allocate-heading,
.form #delete-confirmation-title {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.form #pAllocate,
.form #pConfirmation {
  margin-left: 0.5rem;
  margin-bottom: 2.5rem;
}

.form form .dropdown {
  position: relative;
}

.form form .dropdown select {
  width: 20rem;
  height: 4rem;
  background: rgba(210, 210, 210, 0.1);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 2rem;
  border: none;
  outline: none;
  padding-left: 2rem;
  font-size: 1.5rem;
  color: #373737;
}

.form form .multiple-heading #reallocate-btn {
  display: inline-block;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border-radius: 1.2rem;
  font-size: 1.5rem;
  background: #765992;
  color: #fafafa;
  cursor: pointer;
  text-decoration: none;
}

.form form .multiple-heading #reallocate-btn:focus {
  border: none;
}

.form form .multiple-heading #reallocate-btn:hover {
  background: #bb8dbb;
}

.form form .entry {
  position: relative;
  margin: 1rem 0;
  font-size: 1.5rem;
  color: #373737;
}

.form form .entry input {
  height: 4rem;
  width: 20rem;
  padding: 2rem;
  font-size: 1.5rem;
  background: rgba(210, 210, 210, 0.1);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 2rem;
  outline: none;
  border: none;
}

.form form .entry input:focus {
  background: rgba(140, 140, 140, 0.1);
}

.form form .entry label {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form form .same-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form form #same-line {
  margin-bottom: 2rem;
}

.form form .deposit-description {
  margin: 0;
}

.form form .deposit-description input {
  width: 25rem;
}

.form form .saving-amount {
  margin: 0;
}

.form form #deadline {
  margin-top: 0.5rem;
}

.form form #deposit-submit {
  margin-left: 1rem;
  padding: 0.5rem 0.8rem;
  border-radius: 100%;
  border: none;
  background: #765992;
  color: #fafafa;
  cursor: pointer;
  outline: none;
}

.form form #deposit-submit i {
  font-size: 3rem;
  color: #f9e9df;
}

.form form #deposit-submit:focus {
  border: none;
}

.form form #deposit-submit:hover {
  background: #bb8dbb;
}

.form form #goal-deadline {
  position: absolute;
  top: -5px;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #f0e3d4;
}

.form input:focus + .label-name,
.form input:valid + .label-name,
.form input:not(:placeholder-shown):not(:focus):invalid + .label-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #f0e3d4;
}

#page-title {
  margin-bottom: 2rem;
}

#allocate-button {
  display: inline-block;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border-radius: 1.2rem;
  font-size: 1.5rem;
  background: #765992;
  color: #fafafa;
  cursor: pointer;
  text-decoration: none;
}

#allocate-button:focus {
  border: none;
}

#allocate-button:hover {
  background: #bb8dbb;
}

#transaction-list {
  max-height: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
  list-style: none;
}

#transaction-list::-webkit-scrollbar {
  display: none;
}

#transaction-list li {
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  margin: 0.5rem 0;
}

#transaction-list .transaction-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#transaction-list .transaction-item .saving-icon {
  width: 5rem;
  height: 100%;
}

#transaction-list .transaction-item .saving-icon img {
  width: 100%;
}

#transaction-list .transaction-item .transaction-title a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  color: #2d2d2d;
}

#transaction-list .transaction-item .transaction-title a:hover {
  color: #a778a7;
}

#transaction-list .transaction-item .transaction-category {
  font-style: italic;
  font-size: 1.2rem;
}

#transaction-list .transaction-item .transaction-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#transaction-list .transaction-item .transaction-amount p {
  margin-right: 1.5rem;
}

#transaction-list .transaction-item .transaction-amount a {
  font-size: 2rem;
  color: #5a5757;
}

#transaction-list .transaction-item .transaction-amount a:hover {
  color: #dd7575;
}

#transaction-list .transaction-item .transaction-amount #goal-edit {
  margin-right: 1.5rem;
  font-size: 1.7rem;
}

#transaction-list .transaction-item .transaction-amount #goal-edit:hover {
  color: #8255ac;
}

#transaction-list .deposit-item,
#transaction-list .saving-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#transaction-list .saving-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  width: 100%;
}

#transaction-list .saving-item .saving-icon {
  margin-right: 2rem;
}

#transaction-list .saving-item .transaction-amount {
  position: absolute;
  right: 0;
}

#transaction-list .saving-item .transaction-title .progress {
  background: rgba(146, 141, 141, 0.3);
  height: 2rem;
  width: 43rem;
  border-radius: 2rem;
  margin: 0.5rem 0;
  position: relative;
}

#transaction-list .saving-item .transaction-title .progress #goal-total {
  position: absolute;
  top: 0.3rem;
  right: 1rem;
  font-size: 1.2rem;
  z-index: 10;
}

#transaction-list .saving-item .transaction-title .progress .progress-done {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  width: 0;
  height: 100%;
  border-radius: 2rem;
  background: #ffbf6a;
  background: -webkit-gradient(linear, right top, left top, from(#f07da3), to(#fa9677));
  background: linear-gradient(to left, #f07da3, #fa9677);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

#transaction-list .saving-item .transaction-title .progress .progress-done p {
  font-size: 1.2rem;
}

#list-li:nth-child(odd),
#saving-li {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#list-li:nth-child(odd):hover,
#saving-li:hover {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#list-li:nth-child(even) {
  background: rgba(210, 210, 210, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#list-li:nth-child(even):hover {
  background: rgba(180, 176, 176, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#desktop-responsive-nav {
  height: 3rem;
  display: none;
}

#desktop-responsive-nav #desktop-responsive-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#desktop-responsive-nav #desktop-responsive-ul li {
  list-style-type: none;
}

#desktop-responsive-nav #desktop-responsive-ul li a {
  color: #373737;
  text-decoration: none;
  font-size: 3.5rem;
  font-weight: bold;
}

#desktop-responsive-nav #desktop-responsive-ul li a:hover {
  color: #725672;
}

@media screen and (max-width: 1050px) {
  #dashboard #sidebar {
    display: none;
  }
  #desktop-responsive-nav {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
  }
  #desktop-responsive-nav #hamburger {
    position: absolute;
    z-index: 200;
    cursor: pointer;
  }
  #desktop-responsive-nav #hamburger i {
    font-size: 3.5rem;
    color: #d7d3d3;
  }
  #desktop-responsive-nav #hamburger i:hover {
    color: #b8b3b3;
  }
  #desktop-responsive-ul {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(10rem at -20% -20%);
    -webkit-clip-path: circle(10rem at -20% -20%);
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    pointer-events: none;
  }
  #desktop-responsive-ul.open {
    clip-path: circle(200rem at -10% -10%);
    -webkit-clip-path: circle(200rem at -10% -10%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: all;
  }
  #desktop-responsive-ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
  }
  #desktop-responsive-ul li.fade {
    opacity: 1;
  }
  #desktop-responsive-ul li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  #desktop-responsive-ul li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  #desktop-responsive-ul li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  #desktop-responsive-ul li:nth-child(4) {
    -webkit-transition: all 0.5s ease 0.8s;
    transition: all 0.5s ease 0.8s;
  }
}

@media screen and (max-width: 750px) {
  #dashboard {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #dashboard #main #nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1.5rem 0rem;
  }
  #dashboard #main #nav-list li {
    margin: 1.5rem;
  }
  #dashboard #main #focus .card .card-content {
    width: 70%;
  }
  #dashboard #main #focus .card .card-other-content {
    position: absolute;
    right: 10px;
  }
  #dashboard #main #focus .card .card-other-content a {
    padding: 0.5rem 0.8rem;
  }
  #dashboard #main #focus .savingsCard .card-content p {
    display: none;
  }
  #dashboard #main #focus .form .multiple-heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #dashboard #main #focus .form .multiple-heading h2 {
    margin-bottom: unset;
  }
  #dashboard #main #focus .form .multiple-heading h3 {
    margin-bottom: 2.5rem;
    margin-left: 0.5rem;
  }
  #dashboard #main #focus .form .multiple-heading #saving-goal-title {
    margin-bottom: 2.5rem;
  }
  #dashboard #main #focus .form .dropdown select {
    background: rgba(255, 255, 255, 0.3);
  }
  #dashboard #main #focus .form .entry input {
    background: rgba(255, 255, 255, 0.3);
  }
  #dashboard #main #focus #transaction-list #saving-li .saving-item .transaction-title {
    width: 75%;
  }
  #dashboard #main #focus #transaction-list #saving-li .saving-item .transaction-title .progress {
    width: unset;
  }
  #dashboard #main #focus #transaction-list #saving-li .saving-item .transaction-amount {
    right: -8px;
  }
}

@media screen and (max-width: 415px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    height: 100vh;
    background-size: unset;
  }
  #dashboard {
    background: unset;
    -webkit-backdrop-filter: unset;
            backdrop-filter: unset;
    border: unset;
    border-radius: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  #dashboard #main {
    padding: 2.5rem 0rem;
  }
  #dashboard #main #nav-list {
    width: 100vw;
  }
  #dashboard #main #focus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    width: 99vw;
  }
  #dashboard #main #focus .card {
    padding: 1rem;
  }
  #dashboard #main #focus .card .card-icon {
    width: 3.5rem;
    margin-right: 1rem;
  }
  #dashboard #main #focus .card .card-content {
    width: 50%;
  }
  #dashboard #main #focus .card .card-other-content {
    width: 40%;
    position: unset;
    right: unset;
  }
  #dashboard #main #focus .card .card-other-content p {
    display: block;
  }
  #dashboard #main #focus .card .card-other-content a {
    position: unset;
    right: unset;
    margin-left: auto;
    display: block;
  }
}
/*# sourceMappingURL=dashboard.css.map */