html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

h1 {
  font-size: 4rem;
  color: #232323;
}

h2 {
  font-size: 3rem;
  color: #2d2d2d;
}

h3 {
  font-size: 2rem;
  color: #2d2d2d;
}

h4 {
  font-size: 1.8rem;
  color: #2d2d2d;
}

p {
  font-size: 1.5rem;
  color: #373737;
}

#dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: solid 1px transparent;
  -webkit-box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
          box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
  border-radius: 2.5rem;
}

#sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 25rem;
  background: rgba(245, 245, 245, 0.8);
  padding: 2.5rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sidebar #profile-pic {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 1px solid #373737;
  -webkit-box-shadow: 3px 3.5px 3.5px rgba(46, 54, 68, 0.3);
          box-shadow: 3px 3.5px 3.5px rgba(46, 54, 68, 0.3);
  overflow: hidden;
}

#sidebar #profile-pic img {
  width: 100%;
}

#sidebar #name-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 4rem;
  margin-top: 2.5rem;
  background: #cf9fcf;
  border-radius: 1.2rem;
}

#sidebar nav {
  margin: 2.5rem 0;
  width: 80%;
}

#sidebar nav ul {
  list-style: none;
}

#sidebar nav ul li {
  font-size: 1.3rem;
}

#sidebar nav ul li a {
  color: #a29f9f;
  text-decoration: none;
  font-weight: bold;
}

#sidebar #logout {
  width: 80%;
  font-size: 1.3rem;
  color: #a29f9f;
  text-decoration: none;
  font-weight: bold;
}

#main {
  padding: 2.5rem 2rem;
  min-width: 40rem;
}

#main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 2.5rem 0;
}

#main ul li {
  list-style-type: none;
  background: rgba(245, 245, 245, 0.8);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin: 0 1rem;
}

#main ul li:hover {
  background: rgba(225, 225, 225, 0.8);
}

#main ul li a {
  text-decoration: none;
  color: #3c3c3c;
  font-weight: bold;
}

#focus .card {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  margin: 1.5rem 0;
  border-radius: 1.2rem;
  padding: 1.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#focus .card .card-icon {
  width: 8rem;
  margin-right: 0.5rem;
}

#focus .card .card-content {
  width: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#focus .card .card-other-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 13rem;
}

#focus .card .card-other-content button {
  position: absolute;
  right: 0;
  padding: 0.8rem 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  border: none;
  background: #765992;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

#focus .card .card-other-content button a {
  color: #fafafa;
}

#focus .card .card-other-content button:focus {
  border: none;
}

#focus .card .card-other-content button:hover {
  background: #bb8dbb;
}

#focus .fundsCard .card-other-content p,
#focus .savingsCard .card-other-content p {
  font-weight: bold;
}

.form h2 {
  margin-left: 0.5rem;
  margin-bottom: 2.5rem;
}

.form #allocate-heading {
  margin-bottom: 0;
}

.form #pAllocate {
  margin-left: 0.5rem;
  margin-bottom: 2.5rem;
}

.form form .dropdown {
  position: relative;
}

.form form .dropdown select {
  width: 20rem;
  height: 4rem;
  background: rgba(210, 210, 210, 0.1);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 2rem;
  border: none;
  outline: none;
  padding-left: 2rem;
  font-size: 1.5rem;
  color: #373737;
}

.form form .entry {
  position: relative;
  margin: 1rem 0;
  font-size: 1.5rem;
  color: #373737;
}

.form form .entry input {
  height: 4rem;
  width: 20rem;
  padding: 2rem;
  font-size: 1.5rem;
  background: rgba(210, 210, 210, 0.1);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 2rem;
  outline: none;
  border: none;
}

.form form .entry input:focus {
  background: rgba(140, 140, 140, 0.1);
}

.form form .entry label {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form form .same-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form form .deposit-description {
  margin: 0;
}

.form form .deposit-description input {
  width: 25rem;
}

.form form .saving-amount {
  margin: 0;
}

.form form #deadline {
  margin-top: 0.5rem;
}

.form form #deposit-submit {
  margin-left: 1rem;
  padding: 0.5rem 0.8rem;
  border-radius: 100%;
  border: none;
  background: #765992;
  color: #fafafa;
  cursor: pointer;
  outline: none;
}

.form form #deposit-submit i {
  font-size: 3rem;
  color: #f9e9df;
}

.form form #deposit-submit:focus {
  border: none;
}

.form form #deposit-submit:hover {
  background: #bb8dbb;
}

.form form #goal-deadline {
  position: absolute;
  top: -5px;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #f0e3d4;
}

.form input:focus + .label-name,
.form input:valid + .label-name,
.form input:not(:placeholder-shown):not(:focus):invalid + .label-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #f0e3d4;
}
/*# sourceMappingURL=dashboard.css.map */